body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

nav {
  background-color: white;
}

.maindiv {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
  color: #333;

  max-width: 90%;
  margin: 0 auto;
}

.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 20px;
}

.list ul li {
  position: relative;
  margin: 10px 15px;
}

.list ul li a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;

  font-size: 20px;
}

.list ul li a:hover {
  color: purple;
}

.list ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 5px 0;
  width: 100px;
  text-align: center;
  top: 100%;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.list ul li ul li {
  padding: 10px 0px;
}

.list ul li ul li:hover {
  background-color: #f1f1f1;
}

.list ul li:hover ul {
  display: block;
}

.button button {
  background-color: transparent;
  padding: 10px 15px;
  margin-left: 15px;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

.button .log {
  border: 1px solid #ccc;
}

.button .book {
  border: 1px solid #a657e7;
}

.button button:hover {
  background-color: rgba(61, 31, 61, 0.1);
}

.heromaindiv {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  display: flex;
  gap: 30px;
}

.heromaindiv .text {
  background-color: white;
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.heromaindiv h1 {
  margin-top: 30px;
  font-size: 70px;
  line-height: 90px;
  font-family: "Poppins", sans-serif;
}

.heromaindiv h1 .video {
  font-weight: bold;
  text-align: center;
  background: linear-gradient(90deg, #2b034d 40%, #b564f7, #d37ef0, #ef90ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heromaindiv h1 #dollar {
  color: red;
}

.heromaindiv .des1 {
  color: #353f54;
  font-size: 20px;
  line-height: 35px;
}

.section-1-btn {
  display: flex;
  gap: 30px;
}

.section-1-btn .get {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 50px;

  background: linear-gradient(360deg, #6a2f9b 40%, #b564f7);
  border: #b564f7;

  color: white;
}

.section-1-btn .book {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #a657e7;
  border: 1px solid;
}

.section-1-img {
  display: flex;
  gap: 20px;
}

.social-logo {
  max-width: 90%;
  margin: 0 auto;

  justify-items: right;
  padding-top: 40px;
  padding-bottom: 70px;
}

.social-logo-main {
  background-color: white;
  padding: 30px 20px;
  border-radius: 20px;
}

.social-logo-list {
  display: flex;
  gap: 20px;
}

.instagram {
  background-color: #e6e6e6;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-logo-banner {
  background-color: white;
  height: 250px;
  display: flex;
  align-items: center;
}

.clients-logo-banner-content {
  max-width: 90%;
  margin: 0 auto;
}

.logo-main {
  display: flex;
  align-items: center;
  gap: 100px;
}

.logo-main-fifty {
  border-right: 2px rgba(0, 0, 0, 0.2);
  padding-right: 20px;
  border-right-style: solid;
}

.logo-main-fifty h1 {
  font-size: 32px;
  line-height: 0px;
}

.logo-main-right {
  display: flex;
  gap: 40px;
}

.logo-nameandicon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.all-inclusive {
  padding: 50px 0px;
}

.all-inclusive-heading {
  justify-content: center;
  justify-items: center;
}

.all-inclusive-heading h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 50px;
  font-size: 48px;
}

.all-inclusive-heading span {
  color: #a554e6;
}

.all-inclusive-heading p {
  color: #344054;
  font-size: 16px;
  font-weight: 400px;
  line-height: 30px;
  font-family: "Inter", serif;
}

.all-inclusive-content-main {
  background-color: white;
  border: 2px solid #d0d5dd;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}

.all-inclusive-content {
  display: flex;
  justify-content: space-evenly;

  padding: 60px 0px;
}

.all-inclusive-content-heading-img {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.all-inclusive-content-des-img-2 {
  display: flex;
  align-items: center;
}

.all-inclusive-content-heading {
  display: flex;
  gap: 30px;
  align-items: center;
}

.all-inclusive-content-des-img {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.all-inclusive-content-des {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.all-inclusive-content-des h1 {
  font-family: "Poppins", serif;
  font-size: 30px;
}

.all-inclusive-content-des p {
  color: #344054;
  font-family: "Poppins", serif;
  font-size: 20px;
}

.short-form-video {
  display: flex;
  align-items: center;
  gap: 250px;

  border: 2px solid #d0d5dd;
  border-radius: 20px;
  padding: 20px;
  transition: border-color 0.3s ease;
}

.short-form-video-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.short-form-video h2 {
  color: #102939;
  font-size: 30px;
}

.short-form-video p {
  font-family: "Poppins", serif;
  font-size: 20px;
  color: #202020;
}

.all-inclusive-content-main button {
  color: #ff0000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(360deg, #6a2f9b 40%, #b564f7);
  border: #b564f7;
  color: white;
}

.all-inclusive-button {
  text-align: center;
  padding-bottom: 25px;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #d0d5dd;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.custom-checkbox input:checked + .checkmark::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox input:checked + .checkmark {
  background-color: #6200ea;
  border-color: #6200ea;
}

.section2 {
  max-width: 90%;
  margin: 0 auto;
}

.section2 h1 {
  font-size: 48px;
  font-family: "Raleway", serif;
  text-align: center;
}

.section2 h1 span {
  color: #a554e6;
}

.section2 .purple-tick {
  display: flex;
  align-items: center;
}

.section2-div2-inner {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.section2-div2-inner h3 {
  margin: 0px;
  font-family: "Poppins", serif;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 35px;
}

.section2-div2 {
  border-radius: 20px;
  background-color: white;
  width: 450px;
  height: 470px;
  justify-items: center;
  padding: 10px;
}

.section2-div2 img {
  display: flex;
  align-items: center;
}

.section2-div2 p {
  font-size: 16px;
  font-family: "Poppins", serif;

  line-height: 24px;
  font-weight: 400;
}

.section2-div2-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.section2Div3 h4 {
  font-family: "Poppins", serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}

.section2Div3 p {
  font-family: "Poppins", serif;
  font-size: 20px;
  line-height: 24px;
  color: #344054;
}

.section2Div3 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.section2Div3-innerDiv {
  border: 1px solid #d0d5dd;
  width: 450px;
  border-radius: 20px;
  padding: 0 20px;
}

.section-3-heading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-3 {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
}

.section-4 {
  max-width: 90%;
  margin: 0 auto;
}
.section-4-one {
  padding-bottom: 60px;
}
.section-3-heading h1 {
  font-family: "Poppins", sans-serif;

  line-height: 72px;
  font-weight: 600;
}

.section3h1 {
  font-size: 60px;
}

.section3h1 span {
  color: #a657e7;
}

.section-3-slide {
  display: flex;
  justify-content: space-between;
}

.section-3-slide .section-3-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-list {
  width: 300px;
  height: 400px;
}

.slide-list-4 {
  width: 300px;
  height: 400px;
}

.slide-list h1 {
  color: #344054;
  font-family: "Poppins", serif;
  size: 20px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
}

.slide-list-4 h1 {
  color: #344054;
  font-family: "Poppins", serif;
  size: 20px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
}

.section-3-slide {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliders {
  display: flex;

  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.sliders-4 {
  display: flex;

  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide-list {
  flex: 0 0 calc(100% / 4);
  text-align: center;
  padding: 10px;
}

.slide-list-4 {
  flex: 0 0 calc(100% / 4);
  text-align: center;
  padding: 10px;
}

.section-3-img img {
  width: 70%;
  border-radius: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.section-3-slide button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.secFive {
  padding-top: 100px;
  padding-bottom: 120px;
}

.sectionFive {
  background-color: white;
  padding: 50px 0;
}
.sectionFive .secFiveOne {
  max-width: 90%;
  margin: 0 auto;
}
.secFiveTwo {
  display: flex;
  gap: 50px;
}
.secFiveTwo img {
  display: flex;
  align-items: center;
  justify-items: center;
}
.secFiveTwo h1 {
  font-family: "Raleway", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.secFiveTwo p {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
  color: #344054;
  line-height: 24px;
  padding-bottom: 10px;
}

.secFiveTwo button {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  background: linear-gradient(360deg, #6a2f9b 40%, #b564f7);
  border: #b564f7;
  color: white;
}

.sixMain {
  max-width: 90%;
  margin: 0 auto;
}
.sixOneHeading h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
  justify-content: center;
}
.sixOneHeading h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin: 0px;
  text-align: center;
  color: #a554e6;
}
.sixThree {
  border: 1px solid skyblue;
  width: 46%;
  border-radius: 15px;
  background-color: white;
}
.sixThreeOne {
  padding: 0px 80px;
}

.sixTwoImg {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 20px;
}
.sixTwoImg div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sixThreeTwo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sixThreeTwo h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}
.sixThreeTwo p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
}

.sixThreeThree {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.sixThreeThree h4 {
  font-size: 18px;
}
.sixThreeThree h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sixThreeFour {
  display: flex;
  justify-content: space-between;
}
.sixThreeText-q2 {
  display: flex;
  justify-content: right;
}

.sixThreeText p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #344054;
  margin: 0;
}

.sixText {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.sixFour {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 100px;
}
.sixFourOne {
  border: 1px solid skyblue;
  width: 31%;
  border-radius: 15px;
  background-color: white;
}

.Seven-Full {
  max-width: 90%;
  margin: 0 auto;
}

.seven-one h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 0;
}
.seven-one span {
  color: #a554e6;
}

.seven-one {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #102939;
  text-align: center;
  
}
.seven-two-one {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  padding: 0px 30px;
}
.seven-two-one h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.seven-two {
  border: 1px solid white;
  padding: 0px 30px;
  border-radius: 8px;
  margin: 10px;
  background-color: white;
}
.seven-two-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.seven-two-one span {
  font-size: 24px;
  font-weight: bold;
}
.seven-two p {
  display: none;
  margin-top: 10px;
  padding: 0px 30px;
  
}
